/* CSS styles */
html,body {
    font-family: arial;
  }
  .bg-dark {
    background: #333;
    color:#f5f5f5;
  }
  .actions {
        font-style: italic;
    color: #8d8e99;
  }
  .bg-white {
    background: #fff;
    color:black;
  }
  .bg {
    box-sizing:border-box;
    position:relative;
    padding-bottom:2rem;
  }
  .bg > div {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      max-width: 100%;
      position: relative;
      z-index: 1;
      padding: 12px 16px;
      margin-bottom: 12px;
  }
  .bg > div > div {
      background-color: rgba(141,142,153,.2);
      border-radius: 2px 8px 8px;
      width: 100%;
    font-size:1rem;
      word-wrap: break-word;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin-bottom: 0;
      max-width: 100%;
      word-break: break-word;
    padding:1rem;
  }