@import url(https://fonts.googleapis.com/css2?family=Handlee&display=swap);

@keyframes bgAnim {
  0%,100% {
    transform: scale(1.1,1);
  }
  50% {
    text-shadow: 0px 0px 2px yellow;
    transform: scale(1,1);
  }
}
.bg {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  background: url(https://64.media.tumblr.com/d0bbb80d4a76b1cf8cdadd07cb204093/fe78228ceafce875-a9/s500x750/10b4309be3e055118abaf66a4b7ef7f694ac1a69.jpg)
    no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.card {
  background: rgba(30, 67, 45, 0.8);
  backdrop-filter: blur(1.5rem) brightness(70%);
  color: white;
  padding: 20px;
  border: .5rem solid Coral;
  border-top: .5rem groove Coral;
  border-bottom: .5rem groove Coral;
}
.h2 {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  color: #0000;
  animation: bgAnim 2s infinite;
  font-weight: bold;
  background: 
    repeating-radial-gradient(#000 0 0.00001%,#fff 0 0.0001%) 50% 0/200% 200%,
    repeating-conic-gradient(#000 0 0.0001%,#fff 0 0.0001%) 50% 50%/200% 200%;
  background-blend-mode: difference;
  -webkit-background-clip: text;
          background-clip: text;
}

.subtitle {
  display:flex;
  justify-content: center;
  gap:.2rem;
  text-transform: uppercase;
  color: #D8E246;
}
.note {
    width: 120px;
    height: 120px;
    font-family: Handlee, cursive;
    margin: 2rem auto;
    background: linear-gradient(20deg, yellow, #dd2);
    display: flex;
    align-items: center;
    color: #000;
    text-align: center;
    transform: perspective(750px) translate3d(0, 0, -250px) rotateX(60deg)
        scale(0.9, 0.9);
    box-shadow: 0 20px 40px -20px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out transform;
}
.note:hover {
    transform: translate3d(0px, 0px, -100px); 
}
