
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@keyframes char {
  0%,
  100% {
    background-position: center center;
  }
  50% {
    background-position: center bottom;
  }
}
@keyframes fade-out {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;  
  }
}
@keyframes from-bottom {
  0% {
    transform:translateY(10rem);
    opacity:0;
  }
  100% {
    transform:translateY(0);
    opacity:1;  
  }
}
.bg-messages {
   background:url(https://64.media.tumblr.com/3c4c2cd08f17fe49b2a41792ea3a5748/3791248934721603-11/s2048x3072/e73a40f360341eb1cf07dbe971600f4082255ebc.pnj) no-repeat;
  background-size:cover; 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .2;
}
.sub {
  position:relative;
  width:100%;
  text-align:justify;
  font-size:.9rem;
  font-family: "Roboto Mono", monospace;
  animation: fade-out 5s ease-in 1;
}

.container1 {
  backdrop-filter: blur(1rem);
  background: rgba(0, 0, 0, 0.5)
    url(https://imgur.com/w3B4Ej7.png)
    no-repeat center bottom;
  background-size: cover;
  background-blend-mode: multiply;
  padding: 2rem 2rem 0;
  border-radius: 1rem;
  margin: 1rem auto -2.25rem;
  z-index: -1;
  box-shadow: 0.2rem 0 0.3rem rgba(0,0,0,0.2);
  overflow: hidden;
  animation: fade-out 2s cubic-bezier(.63,-0.33,0,1.02) 1;
}
.container1 > h3 {
  font-family: "Roboto Mono", monospace;
  color: white;
  text-transform: uppercase;
  margin: 0.5rem 0;
  font-size: 2rem;
}
.container1 > p {
  font-family: "Roboto Mono", monospace;
  color: #aaa;
  font-weight: 600;
  text-transform: capitalize;
}
.img-container {
  width: 100%;
  position: relative;
  margin-top: -1%;
  display: flex;
  gap:1%;
  justify-content: center;
  align-items: flex-end;
  background-blend-mode: multiply;
}
.img-container > div {
  position:relative;
} 
.img-container > div::after {
  content:'';
  font-family: "Roboto Mono", monospace;
  position:absolute;
  bottom:0;
  left:0;
  color: white;
  padding-right: 2rem;
  color: rgb(43, 48, 58);
  padding: 0.2rem 0.5rem;
  background: white;
  border-radius:1rem 0;
  z-index: 1;
}

.img_char {
  width: 15vw;
  max-width: 150px;
  height:150px;
  object-fit:cover;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  animation: char 2s 5 ease-in-out;
  z-index: -1;
  background: linear-gradient(to top, white 0%, transparent 50%);
  background-size: 100% 300px;
  transform: translateY(0.5rem);
    background-position: center center;
}

.container2 {
  backdrop-filter: blur(1rem);
  background: rgba(43, 48, 58, 1);
  border: 0.3rem double;
  color: white;
  animation: from-bottom 1s cubic-bezier(.63,-0.33,0,1.02) 1; 
  padding: 1rem;
}

#naruto {
  content: url('https://imgur.com/l3J8y24.png');
}
.img-container > div:has(>#naruto)::after {
  content:'Naruto';
}
#sasuke {
  content: url('https://imgur.com/kWlSHAN.png');
}
.img-container > div:has(>#sasuke)::after {
  content:'Sasuke';
}
#sakura {
  content: url('https://imgur.com/RjjI00M.png');
}
.img-container > div:has(>#sakura)::after {
  content:'Sakura';
}
#sakura:hover {
  content:url(https://64.media.tumblr.com/b3d90804c38347d81ddee8f4fd638ea7/43d18b6195bed18c-3c/s250x400/421b5e9ba7b5433c8a52c384ef8cb67202697c79.pnj);
}
.img-container > div:has(>#sakura:hover)::after {
  content:'Forehead lol';
}
#hinata {
  content: url('https://i.imgur.com/UizrmfR.png');
}
.img-container > div:has(>#hinata)::after {
  content:'Hinata';
}
#kakashi {
  content: url('https://imgur.com/ZRMXlpU.png');
}
.img-container > div:has(>#kakashi)::after {
  content:'Kakashi';
}
