.iframe-parent::after {
  opacity: 0;
  word-break: break-all;
  height: calc(50vh);
  max-height: 600px;
  box-sizing: content-box;
  min-height: 300px;
  content: "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" !important;
}
.iframe-parent > p {
  opacity: 0;
}
.iframe-greeting {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  right: 0;
  min-height:300px;
  height: 100%;
  bottom: 0;
}
