.iframe-parent::before {
    opacity: 0;
    word-break: auto-phrase;
    min-height: 138px;
    height: 30vh;
    max-height: 488px;
    content: "---------------------------------------------------------------------------------------------------------------------" !important;
    display: block;
}
.iframe-greeting {
  position: absolute;
display:block;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
    min-height: 150px;
height:calc(30vh + 24px);
max-height:500px;
border-radius: 0 .5rem 0 0;
}
.iframe-parent .msg-dialogue {  
margin-top: 24px;
  background-color:rgba(43,48,58,.7);
  background-image: linear-gradient(to top,rgba(44,48,58,1), rgba(43,48,58,.5));
  color:white;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,.2);
  padding:1rem;
  border:.5rem double rgba(255,255,255,0.5);
}
.iframe-parent .msg-dialogue h1,
.iframe-parent .msg-dialogue h2,
.iframe-parent .msg-dialogue h3,
.iframe-parent .msg-dialogue h4, 
.iframe-parent .msg-dialogue hr {
  color:white;
  border-color:white;
}
