.iframe-parent::before {
    opacity: 0;
    word-break: auto-phrase;
    min-height: 138px;
    height: 30vh;
    max-height: 488px;
    content: "---------------------------------------------------------------------------------------------------------------------" !important;
    display: block;
}
.iframe-parent .msg-dialogue {  
margin-top: 24px;
}
.iframe-greeting {
  position: absolute;
display:block;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
    min-height: 150px;
height:calc(30vh + 24px);
max-height:500px;
border-radius: 0 .5rem 0 0;
}
