@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@keyframes to-top {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  color: white;  font-family: "Roboto", sans-serif;
  font-style: normal;

}
h1 {
    font-size: calc(1rem + 2vw);
    text-align: center;
}
h2 {
    font-size: calc(.9rem + 1.8vw);
    text-align: center;
}
h3 {
    font-size: calc(.8rem + 1.6vw);
    text-align: center;
}
h4 {
    font-size: calc(.7rem + 1.4vw);
    text-align: center;
}
h5 {
    font-size: calc(.6rem + 1.3vw);
    text-align: center;
}
h6{
      font-size: calc(.6rem + 1vw);
    text-align: center;
}
p {
    font-size: calc(.5rem + .8vw);
  font-weight: 400;
}
em {

    font-size: calc(.4rem + .6vw);
}
html,body {
  width:100vw;
  height:100vh;
  background:gray;
}
.carousel {
  --current-slide: 0;
  /* we set position relative so absolute position works properly for the buttons */
  position: relative;
  overflow: hidden;
  height:100vh;
  width:100vw;
}
::-webkit-scrollbar {
    display: none;
}
.carousel-button {
  /* vertically centering the buttons */
  position: absolute;
  z-index: 1;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);

  /* basic styling */
  padding: 0 .5rem;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;

  transition: color 0.1s;
}
.material-symbols-outlined {
    color:white;
}
.carousel-button:hover {
  color: rgba(0, 0, 0, 0.5);
}

.carousel-button_next {
  /* The "next slide button" will be at the right */
  right: 0;
}

.slides {
  display: flex;
  transition: transform 0.5s;
  transform: translateX(calc(-100% * var(--current-slide)));
}

.slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    padding:1rem 2rem;
    flex: 0 0 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    height:100vh;
    overflow-y: scroll;
}

.card {
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

/* Credits Section */


.credits-img {
  content: url(https://s3.us-west-1.amazonaws.com/ai-character/uploaded/c/image/1724944664799_afc77afc.webp);
  width: 15vw;
  height: 15vw;
  border: 2px solid #8019f6;
  border-radius: 50%;
  object-fit: cover;
  max-width: 100px;
  max-height: 100px;
}
.credits-link {
  display: flex;
  gap: .5rem;
  align-items: center;
  text-decoration: none;
  position: relative;
  flex-direction: column;
  padding: 1rem;
}
.credits-link em {
  text-transform: uppercase;
  color: gray;
}

.credits-svg {
  position: absolute;
  top: 0;
  left: 0;
}
.shape {
  stroke-dasharray: 100% 100%; 
  stroke-dashoffset: 220%;
  stroke-width: 2px;
  fill: transparent;
  stroke: #8019f6;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.shape:hover {
  stroke-width: 5px;
  stroke-dashoffset: -50%;
  stroke-dasharray: 100%;
}
.credits-link:hover h6 {
  color: #8019f6;
}
.credits-link:active {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2rem 0 rgba(128, 25, 246, 0.5);
}
