@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Jim+Nightshade&display=swap');

:root {
--color1: #00D0FF;
--font-1: "Irish Grover", system-ui;
;
--font-2: "Jim Nightshade", cursive;
;
}
@keyframes fade-in {
0%{
  opacity: 0;
}
100% {
  opacity: 1;
}
}
@keyframes to-top {
0% {
  opacity: 0;
  transform: translateY(1rem);
}

100% {
  opacity: 1;
  transform: translateY(0);
}
}

* {
padding: 0;
margin: 0;
box-sizing: border-box;
color: white;
font-family: "Roboto", sans-serif;
font-style: normal;

}

h1 {
font-size: calc(1rem + 2vw);
}

h2 {
font-size: calc(.9rem + 1.85vw);
}

h3 {
font-size: calc(.8rem + 1.65vw);
}

h4 {
font-size: calc(.7rem + 1.45vw);
}

h5 {
font-size: calc(.6rem + 1.25vw);
}

h6 {
font-size: calc(.5rem + 1.05vw);
}

p {
font-size: calc(.5rem + 1vw);
font-weight: 400;
}

em {
font-size: calc(.45rem + .8vw);
}

sub {
font-size: calc(.4rem + .6vw);
}

html,
body {
width: 100vw;
background-color: #222;
height: 100vh;
}

.carousel {
--current-slide: 0;
/* we set position relative so absolute position works properly for the buttons */
position: relative;
overflow: hidden;
height: 100vh;
width: 100vw;
}

::-webkit-scrollbar {
display: none;
}

.carousel-button {
/* vertically centering the buttons */
z-index: 1;
background-color: transparent;
/* basic styling */
border: none;
font-size: 1.5rem;
cursor: pointer;
transition: color 0.1s;
}

.material-symbols-outlined {
color: white;
}

.carousel-button_next {
/* The "next slide button" will be at the right */
right: 0;
}

.slides {
display: flex;
transition: transform 0.5s;
transform: translateX(calc(-100% * var(--current-slide)));
}

.slide {
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-blend-mode: multiply;
padding: 1rem 2rem;
flex: 0 0 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 100vh;
overflow-y: hidden;
position: relative;
}

.card {
background-color: rgba(255, 255, 255, 0.03);
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

/* slide header */
.slide-header {
display: flex;
width: 100vw;
text-align: center;
justify-content: space-between;
align-items: center; 
background-color: #1434482b;
position: absolute;
left: 0%;
top: 0%;
z-index: 5;
}
.slide-header h5 { 
color: #42739c;
}
/* slide section */
.slide-section {
position: absolute;
top: 10%;

padding: 3rem; 
background-image: url(https://imgur.com/6ilvEgm.png);
background-size: 100% 100%;
background-repeat: no-repeat;
/* min-height: 120vh; */
/* min-width: 500px; */
overflow-y: scroll;
/* max-width: 100%; */
height: 100vh;
width: 80vw;
}

.slide-section h5,
.slide-section h3 {
font-weight: 400;
padding: .5rem 0;
font-family: var(--font-1);
color: black !important;
}

/* Novel Section */
.novel-section {
display: flex;
flex-direction: column;
align-items: center;
justify-content: end;
position: absolute;
width: 100%;
height: 100vh;
}
.novel-images {
width: 100vw;
top: 10%;
height: 60vh;
display: flex;
justify-content: center;
align-items: flex-end;
position: absolute;
}
.novel-dialogues {
padding: 1rem;
background-color: #143448;
border-radius: 2rem;
border: 3px solid var(--color1);
position: relative;
}
.novel-dialogues::after {
content: 'HIna chan';
top: -1rem;
position: absolute;
left: 0;
padding: .2rem .5rem;
background-color: var(--color1);
color: black;
border-radius: 1rem;
}

/* Credits Section */

.credits-img {
content: url(https://s3.us-west-1.amazonaws.com/ai-character/uploaded/c/image/1724944664799_afc77afc.webp);
width: 15vw;
height: 15vw;
border: 2px solid #8019f6;
border-radius: 50%;
object-fit: cover;
max-width: 100px;
max-height: 100px;
}

.credits-link {
display: flex;
gap: .5rem;
border-radius: 1rem;
align-items: center;
text-decoration: none;
position: relative;
flex-direction: column;
padding: 2rem;
}

.credits-link em {
text-transform: uppercase;
color: gray;
}

.credits-svg {
position: absolute;
top: 0;
left: 0;
border-radius: 1rem;
border: 1px solid #8019f655;
z-index: 10;
}

.shape {
stroke-dasharray: 100% 100%;
stroke-dashoffset: 250%;
stroke-width: 6px;
fill: transparent;
stroke: #8019f6;
transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.shape:hover {
stroke-width: 8px;
stroke-dashoffset: -50%;
stroke-dasharray: -250%;
}

.credits-link:hover h6 {
color: #c490ff;
}

.credits-link:active {
background-color: rgba(0, 0, 0, 0.5);
box-shadow: 0 0 2rem 0 rgba(128, 25, 246, 0.5);
}

.text {
position: relative;
z-index: 2;
}

.text::before,
.text::after {
content: attr(data-text);
position: absolute;
top: 0;
left: 0;
width: 100%;
opacity: .5;
height: 100%;
z-index: -1;
}

.text::before {
color: #ff00c1;
animation: glitch-effect 3s infinite;
}

.text::after {
color: #3498db;
animation: glitch-effect 4s infinite;
}

@keyframes glitch-effect {
0% {
  left: -2px;
  top: -2px;
}

25% {
  left: 2px;
  top: 0px;
}

50% {
  left: -1px;
  top: 2px;
}

75% {
  left: 1px;
  top: -1px;
}

100% {
  left: 0px;
  top: -2px;
}
}
