@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --accent-color: #7e66e9;
}

@keyframes arrowAnim {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes jumpImg {
  0% {
    transform: scale(0.5) translateY(10rem);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes to-top {
  0% {
    transform: translateY(1rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes to-right {
  0% {
    transform: translateX(10rem);
  }

  100% {
    transform: translateX(0);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1 {
  font-size: calc(1rem + 2vw);
}

h2 {
  font-size: calc(0.9rem + 1.85vw);
}

h3 {
  font-size: calc(0.8rem + 1.65vw);
}

h4 {
  font-size: calc(0.7rem + 1.45vw);
}

h5 {
  font-size: calc(0.6rem + 1.25vw);
}

h6 {
  font-size: calc(0.5rem + 1.05vw);
}

p {
  font-size: calc(0.5rem + 0.8vw);
  font-weight: 400;
}

em,
a {
  font-size: calc(0.45rem + 0.8vw);
}

sub,
button,
span {
  font-size: calc(0.4rem + 0.6vw);
}

html,
body {
  width: 100vw;
  background-color: #000000;
  height: 100vh;
}

.carousel {
  --current-slide: 3;
  /* we set position relative so absolute position works properly for the buttons */
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}

.carousel-button {
  /* vertically centering the buttons */
  z-index: 22;
  background-color: transparent;
  /* basic styling */
  border: none;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.1s;
}

.carousel-btn-music {
  background-color: var(--accent-color);
  position: absolute;
  top: 5%;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 5%;
}

.carousel-btn-music .material-symbols-outlined {
  color: var(--color-1) !important;
}

.material-symbols-outlined {
  color: white;
}

.carousel-button_next {
  /* The "next slide button" will be at the right */
  right: 0;
}

.slides {
  display: flex;
  transition: transform 0.5s;
  position: relative;
  transform: translateX(calc(-100% * var(--current-slide)));
}

.slide {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: color;
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  position: relative;
}
.slide.active {
  animation: fade-in 1s ease-in;
}
.slide-main {
  background-image: linear-gradient(
    to top,
    var(--color-2) -100%,
    transparent 100%
  );
}
.title {
  color: var(--color-1);
  text-transform: uppercase;
}
/* slide header */
.slide-header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0%;
  padding: 0 1vw;
  top: 0%;
  z-index: 50;
}

.slide-header h5 {
  color: var(--color-1);
}
.slide-header em {
  color: gray;
}
/* slide section */
.slide-section {
  top: 0%;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 100% 100%;
  backdrop-filter: blur(1rem);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  overflow-y: scroll;
  min-height: 200px;
  height: 90vh;
  border-radius: 1rem;
  max-height: 500px;
  width: 80vw;
  max-width: 800px;
  background-clip: padding-box;
  font-family: var(--font-1) !important;
}

.slide-section h5,
.slide-section p,
.slide-section bold {
  font-weight: 400;
  padding-bottom: 0.5rem;
  font-family: serif;
}

.slide-section bold {
  font-weight: 600;
  font-family: var(--font-1) !important;
}

.slide-section mark {
  color: black;
  font-family: var(--font-1);
  background-color: var(--color-1);
}

/* Novel Section */
.novel-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    transparent 200%
  );
}
.novel-overlay {
  width: 100vw;
  object-fit: cover;
  height: 100vh;
  position: absolute;
  display: block;
  z-index: 3;
  mix-blend-mode: color-dodge;
  display: none;
}
.novel-item {
  width: 40vh;
  padding: 2rem;
  background: radial-gradient(
      farthest-side,
      rgba(255, 255, 255, 0.5),
      transparent
    )
    center no-repeat;
  animation: jumpImg 1s cubic-bezier(0.075, 0.82, 0.165, 1),
    pulse 0.5s linear infinite alternate;
  object-fit: cover;
  height: 40vh;
  position: absolute;
  display: block;
  mix-blend-mode: lighten;
  object-fit: contain;
  z-index: 4;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.novel-images {
  width: 100vw;
  height: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: flex-end;
}
.novel-section .novel-images .novel-img {
  opacity: 0.8;
  object-fit: cover;
  width: 20%;
  height: 100%;
  flex: 1 1 100%;
  transform: scale(0.95) translateY(2rem);
  display: none;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  mix-blend-mode: multiply;
  max-width: 50vh;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  transition: transform ease-in-out 0.5s, background 2s ease;
  z-index: 1;
}

.novel-dialogues {
  background-color: rgba(0, 0, 0, 0.5);
  /* backdrop-filter: blur(1rem); */
  position: relative;
  width: 100vw;
  height: 30vh;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.transparenttextures.com%2Fpatterns%2Fasfalt-dark.png&f=1&nofb=1&ipt=f90876c444cf6ecbed0b9d3746f4897b1214a1dfcec4512648d5078f49adc183&ipo=images);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 200px;
  background-blend-mode: overlay;
  z-index: 5;
  min-height: 90px;
}

.novel-dialogues bold {
  font-weight: 600;
  font-style: italic;
  font-family: var(--font-1);
  color: var(--color-2);
}

.novel-dialogues p {
  font-family: var(--font-1);
  overflow-y: scroll;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.05),
    rgba(255, 255, 255, 0.05)
  );
  padding: 1.5vw 2vw 1.5rem;
}

.novel-dialogues .dialogues-arrow-container {
  position: absolute;
  bottom: 0;
  opacity: 0.5;
  right: 0;
  width: 10vw;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
  cursor: pointer;
}

.novel-dialogues .dialogues-arrow {
  font-size: 3rem;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  animation: arrowAnim 2s infinite;
}

.novel-dialogues::after {
  content: "⠀";
  top: -2rem;
  position: absolute;
  left: 0;
  padding: 0.5rem 0.5rem;
  font-size: calc(0.45rem + 0.8vw);
  background-color: #111;
  text-transform: uppercase;
  opacity: 0;
  color: var(--color-1);
  font-family: var(--font-1);
}

/* Credits Section */
.credits-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.credits-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.credits-section-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0rem 6px 0 0rem var(--accent-color);
  justify-content: center;
  background-color: #000000;
  background-image: linear-gradient(
    to top,
    rgba(66, 51, 134, 0.2),
    transparent
  );
  width: 100%;
  height: 100vh;
  gap: 2vh;
  position: relative;
  transition: height 0.5s ease;
  z-index: 2;
  padding: 2vh;
  overflow: hidden;
}
.credits-section-top-badge,
.credits-section-bottom-badge {
  background-color: var(--accent-color);
  color: white;
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 0.5rem 1rem;
  border-radius: 0px 0px 0px 1rem;
}
.credits-section-top-cover {
  position: absolute;
  width: 100%;
  opacity: 0.1;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: center center;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.credits-section-top-avatar {
  width: 20%;
  border-radius: 50%;
  border: 3px solid black;
  object-fit: cover;
  -webkit-user-drag: none;
  max-width: 400px;
  -webkit-user-select: none;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.credits-section-top-name {
  text-transform: capitalize;
  color: var(--accent-color);
}
.credits-section-top-button,
.credits-section-bottom-button {
  margin-top: 0.5rem;
  padding: 0.5rem 2rem;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 1rem;
  cursor: pointer;
  outline: none;
}
.credits-section-top-button:hover,
.credits-section-bottom-button:hover {
  background-color: var(--accent-color);
}
.credits-section-bottom {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  box-shadow: inset 0rem 6px 0 0rem var(--accent-color);
  overflow: hidden;
  flex-direction: column;
  transition: height 0.5s ease;
  align-items: center;
}
.credits-section-bottom-title {
  padding: 2vh;
  color: rgba(255, 255, 255, 0.5);
}
.credits-section-bottom-bots {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  flex-wrap: wrap;
  padding: 1vw 0;
  gap: 1vw;
}
.credits-section-bottom-bot {
  width: 30%;
  height: 60%;
  /* overflow: hidden; */
  max-width: 30vh;
  text-decoration: none;
  z-index: 2;
  background-size: cover;
  border-radius: 1rem;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 2vh 2vw;
}
.credits-section-bottom-bot-name {
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}
.credits-section-bottom-bot::after {
  width: 101%;
  content: "";
  height: 101%;
  opacity: 1;
  position: absolute;
  background-image: linear-gradient(to top, black 0%, transparent 150%);
  /* background-color: black; */
  border-radius: 1rem;
  top: 0;
  left: 0;
  z-index: -1;
}
.credits-section-bottom-bot-infos {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
.credits-section-bottom-bot-infos sub {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.credits-section-hidden {
  transform: translateY(-10vh);
  position: absolute;
  height: 0px;
  opacity: 0;
}
/* GLITCH EFFECT */
.text {
  position: relative;
  z-index: 2;
}

.text::before,
.text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.5;
  height: 100%;
  z-index: -1;
}

.text::before {
  color: #ff00c1;
  animation: glitch-effect 3s infinite;
}

.text::after {
  color: #3498db;
  animation: glitch-effect 4s infinite;
}

@keyframes glitch-effect {
  0% {
    left: -2px;
    top: -2px;
  }

  25% {
    left: 2px;
    top: 0px;
  }

  50% {
    left: -1px;
    top: 2px;
  }

  75% {
    left: 1px;
    top: -1px;
  }

  100% {
    left: 0px;
    top: -2px;
  }
}

@keyframes pulse {
  from {
    background-size: 80% 80%;
  }

  to {
    background-size: 100% 100%;
  }
}

.novel-section .novel-img.active {
  opacity: 1 !important;
  transform: scale(100%) translateY(0);
  mix-blend-mode: normal;
  background: radial-gradient(
      farthest-side,
      rgba(255, 255, 255, 0.5),
      transparent
    )
    center no-repeat;
  animation: jumpImg 1s cubic-bezier(0.075, 0.82, 0.165, 1),
    pulse 0.5s linear infinite alternate;
  z-index: 2;
}
/* .novel-section#name .novel-dialogues::after {
  content: 'name';
  opacity: 1;
} */
