html .markdown-body #markdown-btn {
  background: transparent;
  border: 1px solid;
  padding: 0.5rem 1rem;
  width: 100%;
  cursor: pointer;
  border-radius: 6px;
  text-transform: uppercase;
}
html.theme-dark .markdown-body #markdown-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}
html.theme-default .markdown-body #markdown-btn:hover {
  background: rgba(0, 0, 0, 0.2);
}

html .markdown-body #markdown-btn:active {
  transform: scale(0.95);
}
